name: (Optional) Re-deploy

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  redeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Info
        run: echo "This branch is intended to store static site output. Deploys are triggered from main."
